/* 
   Final Project
   Author:(Team #1)Zach Karr, Jenny Beezley
   Date: 7/19/2021
   Filename:  sstyles.css
   Supporting Files:
   
*/

aside {
	display: block;
	width: 450px;
	float: right;
	background-color: rgb(36, 36, 41);
	border: 1px solid black;
	padding: 10px;
	margin: 5px 0px 20px 20px;
}

aside img {
	
	margin: 5px;
}

aside {
	height: 325px;
	overflow: auto;
}